/* headder */
header {
  background-color: var(--white);
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 20px var(--gray);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
}

header .logo {
  text-align: center;
}

header nav {
}

header nav .top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .top-menu li {
  margin: 5px 10px;
}
header nav .top-menu li a {
}

header .login-btns {
}
header .login-btns a {
}
header .login-btns a:nth-of-type(2) {
  background-color: var(--white);
  color: var(--text-color);
}

/* main */

main {
}

main .top {
  padding: 100px 0 50px 0;
  border-radius: 25px 25px 0 0;
  background-color: var(--gray);
  display: flex;
  align-items: center;
}

main .top > .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  padding: 30px;
  height: 100%;
}
main .top > .right h1 {
  font-size: x-large;
}
main .top > .right .top-main-btns {
  display: flex;
  gap: 20px;
}
main .top > .right .top-main-btns a {
  border-radius: 25px;
}
main .top > .right .top-main-btns a:nth-of-type(2) {
  background-color: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
}
main .top > .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  position: relative;
  padding: 0 20px 20px 20px;
}
main .top > .left .float {
  background-color: var(--white);
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
main .top > .left .left-right {
  top: 30%;
  right: -1%;
  z-index: 1;
  display: flex;
  padding: 5px 20px;
  gap: 10px;
}
main .top > .left .left-right .profiles {
  display: flex;
  width: 150px;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
main .top > .left .left-right .profiles .images {
  position: relative;
  display: flex;
  width: 100%;
}
main .top > .left .left-right .profiles .images img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* position: absolute; */
  border: 2px solid white;
}
main .top > .left .left-right .profiles .images img:nth-of-type(2) {
  position: absolute;
  right: 20px;
  z-index: -1;
}
main .top > .left .left-right .profiles .images img:nth-of-type(3) {
  position: absolute;
  right: 40px;
  z-index: -2;
}
main .top > .left .left-right .profiles .images img:nth-of-type(4) {
  position: absolute;
  right: 60px;
  z-index: -3;
}

main .top > .left .left-left {
  bottom: 10%;
  left: 8%;
}
main .top > .left .image-container {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
}
main .top > .left .image-container img {
  position: static;
  z-index: 1;
  width: 100%;
}
main .top .left .image-container .back {
  position: absolute;
  display: block;
  width: 100%;
  height: 80%;
  background-color: var(--blue);
  bottom: 0;
  border-radius: 25px;
  z-index: 0;
  overflow: hidden;
}
main .top .left .image-container .back > img {
  height: 100%;
  width: 200%;
  object-fit: cover;
}

main .middle {
  margin: 80px auto;
  max-width: 1000px;
}
main .middle .middle-top {
  margin: 80px 0;
}
main .middle .middle-top .header-text {
  margin: 20px;
}
main .middle .middle-top .header-text h1 {
  margin-bottom: 5px;
}

.underline {
  display: block;
  width: 30px;
  border-radius: 25px;
  height: 3px;
  background-color: var(--orange);
}
main .middle .middle-top .header-text > span {
}
main .middle .middle-top .middle-top-items {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 10px;
}
main .middle .middle-top .middle-top-items .item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}
main .middle .middle-top .middle-top-items .item:hover {
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.185);
}
main .middle .middle-top .middle-top-items .item .item-logo {
  text-align: center;
  width: 80%;
}
main .middle .middle-top .middle-top-items .item .item-logo > img {
}
main .middle .middle-top .middle-top-items .item .item-text {
}
main .middle .middle-top .middle-top-items .item .item-text > h3 {
}
main .middle .middle-top .middle-top-items .item .item-text p {
  text-align: justify;
}

main .middle .middle-buttom {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
main .middle .middle-buttom .right {
  padding: 20px;
  flex: 1;
}
main .middle .middle-buttom .right h3 {
}
main .middle .middle-buttom .right > span {
  margin: 10px 0 20px 0;
}
main .middle .middle-buttom .right > p {
  text-align: justify;
}
main .middle .middle-buttom .left {
  flex: 1;
  padding: 10px;
  text-align: center;
  position: relative;
}
main .middle .middle-buttom .left .orange {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: var(--orange);
  top: -13px;
  right: 31px;
  z-index: -1;
  transform: rotate(40deg);
}
main .middle .middle-buttom .left .blue {
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: var(--blue);
  z-index: -1;
  transform: rotate(-5deg);
  bottom: -10px;
  left: 25px;
}
main .middle .middle-buttom .left video {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.171);
  border: 2px solid white;
  width: 80%;
}

main .bottom {
  margin: 200px auto;
  max-width: 1000px;
}
main .bottom .bottom-top {
  position: relative;
  /* margin: 0 100px; */
  max-width: 800px;
  margin: 0 auto;
}
main .bottom .bottom-top .form-container {
  padding: 15px;
  background-color: var(--white);
  width: 35%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.37);
  margin-right: 100px;
}
main .bottom .bottom-top .form-container > h3 {
}
main .bottom .bottom-top .form-container > span {
  margin: 10px 0;
}
main .bottom .bottom-top .form-container form {
}
main .bottom .bottom-top .form-container form input[type="text"] {
  outline: none;
  border: none;
  background-color: var(--gray);
  padding: 10px;
  margin: 10px 0;
  display: block;
  width: 70%;
}

.send-btn {
  margin-right: auto;
  width: max-content;
  outline: none;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 10px;
  cursor: pointer;
}
.send-btn i {
  color: var(--white);
}
main .bottom .bottom-top .form-container form textarea {
  outline: none;
  border: none;
  background-color: var(--gray);
  padding: 10px 20px;
  margin: 10px 0;
  width: 100%;
  height: 100px;
  resize: none;
}
main .bottom .bottom-top .image-conteaier {
  position: absolute;
  width: 98%;
  height: 90%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--blue);
  top: -20%;
  z-index: -1;
  text-align: left;
  border-radius: 25px;
}
main .bottom .bottom-top .image-conteaier .circle {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
main .bottom .bottom-top .image-conteaier .circle > span {
  position: absolute;
  display: block;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 40px solid #03305c67;
  top: -150px;
  left: 20px;
}
main .bottom .bottom-top .image-conteaier > img {
  height: 140%;
  width: auto;
  position: absolute;
  left: 45px;
  top: -125px;
}
main .bottom-middle {
  padding: 20px;
}

main .bottom-middle .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .bottom-middle .header .title {
}
main .bottom-middle .content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

main .bottom-middle .content .item {
  padding: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.171);
  display: flex;
  gap: 15px;
  align-items: center;
  grid-column: auto/span 2;
  grid-row: auto/ span 1;
}
main .bottom-middle .content .item:first-child {
  grid-column: auto/span 3;
  grid-row: auto/ span 2;
}
main .bottom-middle .content .item:first-child .image {
  flex: 3;
}

main .bottom-middle .content .item .image {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex: 2;
  overflow: hidden;
  height: 100%;
}
main .bottom-middle .content .item .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .bottom-middle .content .item .discription {
  height: 100%;
  gap: 10px;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .bottom-middle .content .item .discription h4 {
}
main .bottom-middle .content .item .discription p {
  font-size: 0.8em;
}

main .bottom-middle .content .item .discription .send-btn {
  gap: 0;
}
main .bottom-middle .content .item .discription .send-btn > * {
  font-size: 0.7em;
}

main .bottom-bottom {
  margin: 100px auto;
  max-width: 1000px;
}
main .bottom-bottom .comments {
  position: relative;
  background-color: var(--blue);
  height: 200px;
  background-image: url(../images/images/pattern1.png);
  background-size: contain;
}

main .bottom-bottom .comments .head {
  padding: 20px;
}
main .bottom-bottom .comments .comment-container {
}
main .bottom-bottom .comments .comment-container .comment {
  background-color: var(--white);
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
}

main .bottom-bottom .comments .comment-container .comment .comment-head {
  display: flex;
  align-items: center;
  gap: 10px;
}
main
  .bottom-bottom
  .comments
  .comment-container
  .comment
  .comment-head
  .profile {
  width: min-content;
}
main
  .bottom-bottom
  .comments
  .comment-container
  .comment
  .comment-head
  .profile
  > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
main .bottom-bottom .comments .comment-container .comment .comment-head .name {
}
main
  .bottom-bottom
  .comments
  .comment-container
  .comment
  .comment-head
  .name
  h5 {
}
main
  .bottom-bottom
  .comments
  .comment-container
  .comment
  .comment-head
  .name
  .stars
  i {
  font-size: 0.5em;
  color: #f39c12;
}
main
  .bottom-bottom
  .comments
  .comment-container
  .comment
  .comment-head
  .name
  .stars
  i {
}
main .bottom-bottom .comments .comment-content {
  margin-top: 10px;
}
main .bottom-bottom .comments .comment-content p {
  font-size: 0.9em;
}

footer {
  background-color: var(--blue);
  border-radius: 130px 0 25px 25px;
  padding: 20px 50px;
}

footer .top section.content {
  display: flex;
}
footer .top section.content > section .title {
  margin: 20px 0;
}
footer .top section.content > section div.content {
}
footer .top section.content > section div.content > p {
  text-align: justify;
  color: var(--white);
}
footer .top section.content > section div.content > ul {
}
footer .top section.content > section div.content > ul li {
  margin: 5px 0;
}
footer .top section.content > section div.content > ul li a {
  display: block;
  padding: 5px;
  background-color: transparent;
  width: max-content;
}
footer .top section.content > section div.content .email-container {
}
footer .top section.content > section div.content .email-container .email {
  display: flex;
  background-color: var(--white);
  border-radius: 30px;
}
footer
  .top
  section.content
  > section
  div.content
  .email-container
  .email
  > input {
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 10px 15px;
}
footer
  .top
  section.content
  > section
  div.content
  .email-container
  .email
  > .send-btn {
  background-color: var(--orange);
  border-radius: 30px;
}
footer
  .top
  section.content
  > section
  div.content
  .email-container
  .email
  > .send-btn
  > input {
  background-color: var(--orange);
}
footer
  .top
  section.content
  > section
  div.content
  .email-container
  .email
  > .send-btn
  > i {
}
footer .top section.content > section div.content .social {
  margin-top: 50px;
}
footer .top section.content > section div.content .social .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
footer .top section.content > section div.content .social .social-icons a {
  padding: 0;
  padding-right: 1px;
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--orange);
}
footer .top section.content > section div.content .social .social-icons a i {
  font-size: 1.2em;
}
footer .top section.content > section:nth-of-type(1) {
  flex: 3;
}
footer .top section.content > section:nth-of-type(2) {
  margin-right: 50px;
  flex: 1;
}
footer .top section.content > section:nth-of-type(3) {
  flex: 2;
  text-align: center;
}

footer .bottom{
  display: flex;
  align-items: center;
  margin: 50px 0;
  background-color: var(--white);
  padding: 20px 40px;
  justify-content: space-between;
}
footer .bottom .contact , .copy-right{
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .bottom .contact .icon{
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .bottom .contact .icon >i{
 font-size: 1.2em;
}
footer .bottom .contact .texts{

}
footer .bottom .contact .texts span{
display: block;
}
footer .bottom .contact .texts span:nth-of-type(2){
font-weight: bold;
}
footer .bottom .copy-right{
gap: 30px;
}
footer .bottom .copy-right .send-btn{
 border-radius: 35px;
}