:root {
  --blue: #0181ff;
  --white: white;
  --orange: #ff7f00;
  --gray: #e9e9e9;
  --text-color: #6d6d6d;
  --title-color: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
