:root {
  --blue: #0181ff;
  --white: white;
  --orange: #ff7f00;
  --gray: #f0f0f0;
  --input: #e9e9e9;
  --text-color: #6d6d6d;
  --title-color: #1e1e1e;
}

@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir.woff);
}

@font-face {
  font-family: vazir-bold;
  src: url(../fonts/Vazir-Bold.woff);
}
html {
  direction: rtl;
  background-color: #badcff;
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  max-width: 1200px;
  margin: 10px auto;
  position: relative;
  background-color: var(--white);
  z-index: -2;
  border-radius: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  font-family: vazir;
  transition: all 0.25s linear;

  /* blue highlite and user select */
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}
a,
.submit-btn {
  outline: none;
  border: none;
  text-decoration: none;
  padding: 3px 20px;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
}
ul {
  list-style-type: none;
}

.brand-name {
  color: var(--orange);
}

h1 {
  font-family: vazir-bold;
}

img {
  width: 100%;
}
p {
  border-radius: 0;
}

/* header */
header {
  background-color: var(--white);
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 20px var(--gray);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
}
.logo {
  background-color: var(--white);
  width: 100px;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  padding: 0;
}

footer .logo a{
  justify-content: center;
}

.logo img {
  width: 80%;
  border-radius: 0;
}

header nav .top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .top-menu > li {
  margin: 5px 10px;
}

header .login-btns a:nth-of-type(2) {
  background-color: var(--white);
  color: var(--text-color);
}
.menu-btn {
  display: none;
  cursor: pointer;
}

.sub-menu {
  background-color: var(--blue);
  display: none;
  transition: none;
}
nav ul {
  position: relative;
}
nav li ul {
  position: absolute;
  top: 40px;
  left: 55%;
}

.sub-menu li {
  margin: 20px 0;
}

/* side menu */
aside {
  display: flex;
  width: clamp(300px, 100%, 420px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  background-color: var(--white);
  flex-direction: column;
  z-index: 5;
  padding: 20px;
  border-radius: 25px 0 0 25px;
}
aside .close-menu {
  margin: 10px;
  cursor: pointer;
  font-size: 1.3em;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
}
aside a {
  display: block;
  width: 100%;
  padding: 10px;
}
aside .login-btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}
aside .login-btns a {
  border-radius: 25px;
  text-align: center;
}
aside .login-btns a:nth-of-type(2) {
  background-color: transparent;
  color: var(--text-color);
}
aside ul {
  width: 100%;
  margin-top: 20px;
}

aside ul li {
  width: 100%;
  margin: 15px 0;
}
aside ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* footer */
footer {
  background-color: var(--blue);
  border-radius: 130px 0 25px 25px;
  padding: 20px 50px;
}

footer .top section.content {
  display: flex;
}
footer .top section.content > section .title {
  margin: 20px 0;
}

footer .top section.content > section div.content > p {
  text-align: justify;
  color: var(--white);
}

footer .top section.content > section div.content > ul li {
  margin: 5px 0;
}
footer .top section.content > section div.content > ul li a {
  display: block;
  padding: 5px;
  background-color: transparent;
  width: max-content;
}

footer .top section.content > section div.content .email-container .email {
  display: flex;
  background-color: var(--white);
  border-radius: 30px;
}
footer
  .top
  section.content
  > section
  div.content
  .email-container
  .email
  > input {
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 10px 15px;
  width: 100%;
}
footer
  .top
  section.content
  > section
  div.content
  .email-container
  .email
  > .send-btn {
  background-color: var(--orange);
  border-radius: 30px;
}
footer
  .top
  section.content
  > section
  div.content
  .email-container
  .email
  > .send-btn
  > input {
  background-color: var(--orange);
}

footer .top section.content > section div.content .social {
  margin-top: 50px;
}
footer .top section.content > section div.content .social .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
footer .top section.content > section div.content .social .social-icons a {
  padding: 0;
  padding-right: 1px;
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--orange);
}
footer .top section.content > section div.content .social .social-icons a i {
  font-size: 1.2em;
}
footer .top section.content > section:nth-of-type(1) {
  flex: 3;
}
footer .top section.content > section:nth-of-type(2) {
  margin-right: 50px;
  flex: 1;
}
footer .top section.content > section:nth-of-type(3) {
  flex: 2;
  text-align: center;
}

footer .bottom {
  display: flex;
  align-items: center;
  margin: 50px 0;
  background-color: var(--white);
  padding: 20px 40px;
  justify-content: space-between;
}
footer .bottom .contact,
.copy-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .bottom .contact .icon {
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .bottom .contact .icon > i {
  font-size: 1.2em;
}
footer .bottom .contact .texts span {
  display: block;
}
footer .bottom .contact .texts span:nth-of-type(2) {
  font-weight: bold;
}
footer .bottom .copy-right {
  gap: 30px;
}
footer .bottom .copy-right .send-btn {
  border-radius: 35px;
}

/* media */
@media screen and (max-width: 1028px) {
  header nav {
    display: none;
  }
  footer .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    align-items: end;
  }
  .copy-right {
    grid-column: 2/ 3;
    grid-row: 1 / 3;
  }
  .menu-btn {
    display: block;
  }
  .logo a {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 950px) {
  footer {
    padding: 20px 10px;
  }
  footer .top section.content > section:nth-of-type(2) {
    margin-right: 0;
  }
  footer .top section.content > section div.content .email-container .email {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  header .login-btns {
    display: none;
  }
  footer .bottom {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .copy-right {
    grid-column: auto;
    grid-row: auto;
  }
}

@media screen and (max-width: 650px) {
  footer .top section.content > section div.content .email-container .email {
    width: 100%;
  }
  .content .item .discription p {
    height: 100px;
    overflow: hidden;
  }
}

@media screen and (max-width: 460px) {
  footer .bottom .copy-right {
    flex-direction: column;
  }
  footer .bottom {
    padding: 20px 10px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 3px;
}
