:root {
  --blue: #0181ff;
  --white: white;
  --orange: #ff7f00;
  --gray: #f0f0f0;
  --input: #e9e9e9;
  --text-color: #6d6d6d;
  --title-color: #1e1e1e;
}

@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir.woff);
}

@font-face {
  font-family: vazir-bold;
  src: url(../fonts/Vazir-Bold.woff);
}
html {
  direction: rtl;
  background-color: #badcff;
}
body {

  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: var(--white);
  z-index: -2;
  border-radius: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  font-family: vazir;
}
a, .submit-btn{
  outline: none;
  border: none;
  text-decoration: none;
  padding: 3px 20px;
  background-color: var(--blue);
  color: var(--white);
}
ul {
  list-style-type: none;
}

.brand-name {
  color: var(--orange);
}

h1 {
  font-family: vazir-bold;
}


img{
    width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}