/* headder */

/* main */
main .top {
  padding: 100px 0 10px 0;
  border-radius: 10px 10px 0 0;
  background-color: var(--gray);
  display: flex;
  align-items: center;
}

main .top > .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  padding: 30px 30px 100px 30px;
  height: 100%;
}
main .top > .right h1 {
  font-size: x-large;
}

main .top > .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  position: relative;
  padding: 0;
}
.float {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}
.float:nth-of-type(1) {
  background-color: var(--orange);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 27%;
  right: 23%;
}
.float:nth-of-type(2) {
  background-color: var(--orange);
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10%;
  left: 15%;
}
.float:nth-of-type(3) {
  background-color: var(--blue);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 48%;
  left: 17%;
}

main .top > .left .image-container {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 20px auto 0 auto;
}
main .top > .left .image-container img {
  position: static;
  z-index: 1;
  width: 60%;
}
main .top .left .image-container .back {
  position: absolute;
  display: block;
  width: 80%;
  height: 93%;
  background-color: var(--blue);
  top: 0;
  left: 50%;
  transform: translate(-52%);
  border-radius: 50%;
  z-index: 0;
}
main .top .left .image-container .back > img {
  height: 100%;
  width: 200%;
  object-fit: cover;
}

main .middle {
  margin: 80px auto;
  max-width: 1000px;
  padding: 30px;
  position: relative;
}
main .middle .middle-top {
  position: absolute;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.171);
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 30px 50px;
  border-radius: 35px;
  top: -24%;
  z-index: 1;
  background-color: var(--white);
  margin-bottom: 100px;
}
main .middle .middle-top section {
  display: flex;
  align-items: center;
  gap: 15px;
}
main .middle .middle-top section .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .middle .middle-top section .icon i {
  font-size: 1.5em;
  color: var(--white);
}
main .middle .middle-top section .texts {
  display: flex;
  flex-direction: column;
}
main .middle .middle-top section .texts span {
}
main .middle .middle-top section .texts span:nth-last-child(1) {
  font-size: 0.9em;
}
main .middle .middle-top section .texts span:nth-last-child(2) {
  font-weight: bolder;
  font-size: 1.2em;
}

.underline {
  display: block;
  width: 30px;
  border-radius: 25px;
  height: 3px;
  background-color: var(--orange);
}

main .middle .middle-buttom {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

main .middle .middle-buttom .cards {
  margin-top: 30px;
  display: flex;
}
main .middle .middle-buttom .cards .card {
  /* width: 25%; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.082);
  border-radius: 20px;
  padding-top: 5px;
  margin: 15px;
}
main .middle .middle-buttom .cards .card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.247);
}

.card-title {
  background-color: var(--blue);
  width: max-content;
  border-radius: 50px 0 0 50px;
  color: var(--white);
  padding: 3px 15px 3px 25px;
  margin: 20px 0;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  font-size: 0.9em;
}
.card-content > p {
  text-align: justify;
}
.card-content .attributes {
}
.card-content .attributes .attr-item {
  font-weight: bold;
  font-size: 0.8em;
}
.card-content .attributes .attr-item i {
  color: #44bd32;
}
.card-content .price {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-content .price span:nth-of-type(1) {
  font-weight: bold;
  color: #44bd32;
}
.card-content .price span:nth-of-type(2) {
  text-decoration: line-through;
  font-size: 0.8em;
}
.card-content .send-btn {
  background-color: var(--white);
}
.card-content .send-btn * {
  color: var(--blue);
}

main .middle .middle-buttom .cards .card:hover .card-content .send-btn {
  background-color: var(--blue);
}
main .middle .middle-buttom .cards .card:hover .card-content .send-btn * {
  color: var(--white);
}

main .bottom {
  margin: 0px auto 50px auto;
  max-width: 900px;
  display: flex;
  background-color: #edeef1;
  padding: 50px;
  border-radius: 35px;
}
main .bottom .right {
  flex: 1;
}
main .bottom .right .title {
  margin-bottom: 30px;
}

main .bottom .right > p {
  width: 80%;
  font-weight: bold;
  text-align: justify;
}
main .bottom .left {
  flex: 1;
  position: relative;
  height: 400px;
}
main .bottom .left .special-card {
  background-color: var(--white);
  padding: 20px;
  padding-top: 10px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.315);
  position: absolute;
  height: 100%;
  z-index: 1;
}
main .bottom .left .special-card .card-title {
  border-radius: 35px;
  padding: 10px 15px;
  font-weight: bold;
}
main .bottom .left .special-card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .bottom .left .special-card .card-content .price {
  flex-direction: column-reverse;
}
main .bottom .left .special-card .card-content .send-btn {
  margin: 0;
  border-radius: 35px;
  background-color: var(--blue);
}
main .bottom .left .special-card .card-content .send-btn * {
  color: var(--white);
}
main .bottom .left .float {
  width: 120px;
  height: 110px;
  border-radius: 15px;
  z-index: 0;
  left: 0;
  top: -6%;
}
@media screen and (max-width: 950px) {
  main .middle .middle-buttom {
   margin-top: 80px;
}
}
@media screen and (max-width: 768px) {
  main .top {
    flex-direction: column-reverse;
  }
  .float:nth-of-type(2) {
    left: 10%;
  }
  .float:nth-of-type(3) {
    left: 13%;
  }
  main .bottom {
    flex-direction: column;
    height: 700px;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
  }
  main .bottom .right {
    flex: 1;
  }
  main .bottom .left {
    flex: 2;
  }
  main .bottom .left .special-card {
    left: 50%;
    width: 70%;
    transform: translate(-50%);
  }
  main .bottom .left .float {
    left: 10%;
    top: -10%;
  }
  main .bottom .right > p {
    width: 100%;
  }
}
@media screen and (max-width: 675px) {
  main .middle .middle-buttom {
    margin-top: 140px;
 }
 main .middle .middle-top section .texts span:nth-last-child(1) {
  font-size: 0.9em;
}
main .middle .middle-top {
  padding: 20px;
}
main .middle .middle-top section .texts span:nth-last-child(2) {
  font-weight: bolder;
  font-size: 1em;
}
}


@media screen and (max-width: 650px) {
  
  main .bottom .left .special-card {
    width: 90%;
  }
  main .bottom .left .float {
    left: 0%;
  }
}

@media screen and (max-width: 500px) {
}
@media screen and (max-width: 436px) {
  main .bottom {
    height: 730px;
  }
  main .bottom .left .special-card {
    width: 100%;
  }
  main .bottom .left .float {
    left: -10%;
    top: -5%;
  }
}


